trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  - group: MyPortfolio-Dev

steps:
  - checkout: self
    submodules: true

  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build
    displayName: 'Build Angular App'

  - task: ReplaceTokens@3
    displayName: 'Replace tokens in config file'
    inputs:
      rootDirectory: '$(Build.ArtifactStagingDirectory)/drop/dist' # Path to your built Angular files
      targetFiles: '**/*.js' # Or another config file like appsettings.json
      encoding: 'auto'
      tokenPrefix: '##{'
      tokenSuffix: '}##'

  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/' # App source code path
      api_location: '' # Api source code path - optional
      output_location: 'dist/MyPortfolio-Web/browser' # Built app content, relative to app_location
      skip_app_build: true
      azure_static_web_apps_api_token: $(deployment_token)
