<form nz-form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class="property-form">
  <div class="form-body">
    <nz-card nzTitle="Property Details">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Property Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please enter property name">
          <input nz-input formControlName="name" placeholder="e.g., 123 Main Street" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Property Image URL</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input
            nz-input
            formControlName="imageUrl"
            placeholder="https://example.com/image.jpg"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Address</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please enter address">
          <textarea
            nz-input
            formControlName="address"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
            placeholder="123 Main Street, Suburb, State, Postcode"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Property Value (AUD)</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Please enter property value">
              <nz-input-number
                formControlName="propertyValue"
                [nzMin]="0"
                [nzStep]="1000"
                [nzPrecision]="0"
                [nzFormatter]="currencyFormatter"
                [nzParser]="currencyParser"
                style="width: 100%"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Property Type</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Please select property type">
              <nz-select formControlName="propertyType" nzPlaceHolder="Select property type">
                <nz-option
                  [nzValue]="PropertyType.Actual"
                  [nzLabel]="PropertyType.Actual"
                ></nz-option>
                <nz-option
                  [nzValue]="PropertyType.Planned"
                  [nzLabel]="PropertyType.Planned"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

    <nz-card nzTitle="Mortgages" [nzExtra]="addMortgageTemplate" style="margin-top: 16px;">
      <ng-container formArrayName="mortgages">
        <div
          *ngFor="let mortgage of mortgages.controls; let i = index"
          [formGroupName]="i"
          class="mortgage-item"
        >
          <div class="mortgage-header">
            <span class="mortgage-title">Mortgage #{{ i + 1 }}</span>
            <button nz-button nzType="text" nzDanger (click)="removeMortgage(i)" type="button">
              <span nz-icon nzType="delete"></span>
            </button>
          </div>

          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Original Loan Amount</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Required">
                  <nz-input-number
                    formControlName="originalAmount"
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="0"
                    [nzFormatter]="currencyFormatter"
                    [nzParser]="currencyParser"
                    style="width: 100%"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Outstanding Balance</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Required">
                  <nz-input-number
                    formControlName="outstandingBalance"
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="0"
                    [nzFormatter]="currencyFormatter"
                    [nzParser]="currencyParser"
                    style="width: 100%"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Interest Rate (%)</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Required">
                  <nz-input-number
                    formControlName="interestRate"
                    [nzMin]="0"
                    [nzMax]="100"
                    [nzStep]="0.1"
                    [nzPrecision]="2"
                    style="width: 100%"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Loan Type</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Required">
                  <nz-select formControlName="loanType">
                    <nz-option
                      [nzValue]="LoanType.PrincipalAndInterest"
                      [nzLabel]="LoanType.PrincipalAndInterest"
                    ></nz-option>
                    <nz-option
                      [nzValue]="LoanType.InterestOnly"
                      [nzLabel]="LoanType.InterestOnly"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label [nzSpan]="24">Repayment</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-input-number
                    formControlName="repaymentAmount"
                    [nzPrecision]="0"
                    [nzFormatter]="currencyFormatter"
                    [nzParser]="currencyParser"
                    [nzDisabled]="true"
                    style="width: 100%"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <nz-divider *ngIf="i < mortgages.controls.length - 1"></nz-divider>
        </div>

        <div if="mortgages.controls.length === 0" class="empty-mortgages">
          <nz-empty nzNotFoundContent="No mortgages added"></nz-empty>
        </div>
      </ng-container>
    </nz-card>

    <ng-template #addMortgageTemplate>
      <button nz-button nzType="primary" nzSize="small" (click)="addMortgage()" type="button">
        <span nz-icon nzType="plus"></span> Add Mortgage
      </button>
    </ng-template>

    @if (calculatedEquity() !== null) {
      <div class="calculated-values">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <div class="calculated-row">
              <span class="label">Total Original Loan:</span>
              <span class="value">{{
                totalOriginalLoan() | currency: 'AUD' : 'symbol-narrow' : '1.0-0'
              }}</span>
            </div>
            <div class="calculated-row">
              <span class="label">Total Outstanding:</span>
              <span class="value">{{
                totalOutstandingRequest() | currency: 'AUD' : 'symbol-narrow' : '1.0-0'
              }}</span>
            </div>
            <div class="calculated-row">
              <span class="label">Total Repayment:</span>
              <span class="value">{{
                totalRepayment() | currency: 'AUD' : 'symbol-narrow' : '1.0-0'
              }}</span>
            </div>
          </div>
          <div nz-col [nzSpan]="12">
            <div class="calculated-row">
              <span class="label">Calculated Equity:</span>
              <span class="value">{{
                calculatedEquity() | currency: 'AUD' : 'symbol-narrow' : '1.0-0'
              }}</span>
            </div>
            <div class="calculated-row">
              <span class="label">Calculated Accessible Equity:</span>
              <span class="value">{{
                calculatedAccessibleEquity() | currency: 'AUD' : 'symbol-narrow' : '1.0-0'
              }}</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="form-footer">
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!propertyForm.valid" type="submit">
          {{ isEditMode() ? 'Update Property' : 'Add Property' }}
        </button>
        <button nz-button type="button" (click)="onCancel()" style="margin-left: 8px">
          Cancel
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
