.app-layout {
  min-height: 100vh;
}

:host ::ng-deep .ant-layout-sider {  
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.right-layout {
  height: 100vh;
  overflow: hidden;
  transition: all 0.2s;
}

:host ::ng-deep .ant-layout-has-sider .right-layout {
  margin-left: 200px;
}

:host ::ng-deep nz-content {
  height: 100%;
  overflow-y: hidden;
}

.inner-content {
  height: 100%;
  padding: 0;
  min-height: 280px;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
